<html>
    <body>
        <p>Hello ${name}!</p>
        <p>Thank you for registering on LPM! We hope to make your experience as effortless as possible! Just use the
            link below to activate your account and start using our portal! :)
        </p>
        <p><strong><a href="${activationLink}">${activationLink}</a></strong></p>
        <p>If you encounter any problems, have questions or want to leave your feedback. Please go to the LPM
            Helpdesk situated on the event you're participating!</p>
        <p>Regards,</p>
        <p>The LPM Team</p>
    </body>
</html>