<nav class="light-blue lighten-1" role="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container nav-wrapper">
        <img src="/images/BrickBitIcon.png" class="brand-logo" height="60px" width="70px"/>
        <a href="#" data-activates="mobile" class="button-collapse waves-effect waves-light"><i
                class="mdi-navigation-menu"></i></a>
        <!-- Desktop Nav -->
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Catering</a></li>
            <li><a href="#">Tournament</a></li>
            <li><a class="dropdown-button" href="#" data-activates="adminDropdown">Control Panel<i
                    class="mdi-navigation-arrow-drop-down right"></i></a></li>
            <li><a class="dropdown-button" href="#" data-activates="userDropdown">User<i
                    class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>
        <!-- Mobile Nav -->
        <ul class="side-nav" id="mobile">
            <li><a href="#">Catering</a></li>
            <li><a href="#">Tournament</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect waves-light">Control Panel<i
                                class="mdi-navigation-arrow-drop-down right"></i></a>

                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#">Catering</a></li>
                                <li><a href="#">Tournament</a></li>
                                <li><a href="#">Users</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect waves-light">User<i
                                class="mdi-navigation-arrow-drop-down right"></i></a>

                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#">Profile</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="#" class="logout-button">Logout</a></li>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
<ul id="adminDropdown" class="dropdown-content">
    <li><a href="#">Catering</a></li>
    <li><a href="#">Tournament</a></li>
    <li class="divider"></li>
    <li><a href="#">Users</a></li>
</ul>

<ul id="userDropdown" class="dropdown-content">
    <li><a href="#">Profile</a></li>
    <li><a href="#" class="logout-button">Logout</a></li>
</ul>

<form th:action="@{/logout}" method="post" id="logout-form"></form>

<script src="/js/fragments/navigation.js"></script>