<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/materializecss/0.95.3/css/materialize.min.css" rel="stylesheet"
          th:href="@{/webjars/materializecss/0.95.3/css/materialize.min.css}" media="screen"/>
    <script src="/webjars/jquery/2.1.1/jquery.min.js" th:href="@{/webjars/jquery/2.1.1/jquery.min.js}"
            type="text/javascript"></script>
    <script src="/webjars/materializecss/0.95.3/js/materialize.min.js"
            th:href="@{/webjars/materializecss/0.95.3/js/materialize.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content white-text">
                    <div class="card-title orange-text text-accent-3"><h1>Register</h1></div>

                    <div th:if="${#fields.hasErrors('${newUserCommand}')}" class="col s12">
                        <div class="card-panel red">
                            <span class="white-text" th:errors="${newUserCommand}"></span>
                        </div>
                    </div>

                    <form th:action="@{/register}" th:object="${newUserCommand}" method="post" id="registerForm">
                        <button type="submit" style="visibility: hidden"></button>

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="grey-text text-darken-3" name="firstName"
                                       th:classappend="${#fields.hasErrors('firstName')}? invalid"/>
                                <label for="first_name">First Name</label>
                                <p class="red-text text-darken-2" th:if="${#fields.hasErrors('firstName')}"
                                   th:errors="*{firstName}"></p>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="grey-text text-darken-3" name="lastName"
                                       th:classappend="${#fields.hasErrors('lastName')}? invalid"/>
                                <label for="last_name">Last Name</label>
                                <p class="red-text text-darken-2" th:if="${#fields.hasErrors('lastName')}"
                                   th:errors="*{matchingPassword}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="text" name="username" class="grey-text text-darken-3"
                                       th:classappend="${#fields.hasErrors('username')}? invalid"/>
                                <label for="username">Username</label>

                                <p class="red-text text-darken-2" th:if="${#fields.hasErrors('username')}"
                                   th:errors="*{username}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" name="password" class="grey-text text-darken-3"
                                       th:classappend="${#fields.hasErrors('password')}? invalid"/>
                                <label for="password">Password</label>

                                <p class="red-text text-darken-2" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="matchingPassword" type="password" name="matchingPassword"
                                       class="grey-text text-darken-3"
                                       th:classappend="${#fields.hasErrors('matchingPassword')}? invalid"/>
                                <label for="matchingPassword">Repeat password</label>

                                <p class="red-text text-darken-2" th:if="${#fields.hasErrors('matchingPassword')}"
                                   th:errors="*{matchingPassword}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="grey-text text-darken-3" name="email"
                                       th:classappend="${#fields.hasErrors('email')}? invalid"/>
                                <label for="email">Email</label>
                                <p class="red-text text-darken-2" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{matchingPassword}"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a href="#" id="registerButton">Register</a>
                    <a href="/login">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#registerButton").click(function () {
        $("#registerForm").submit();
    });
</script>

</body>
</html>